:root {
    --color-s: #ff7f80;
    --color-a: #ffc07f;
    --color-b: #ffdf80;
    --color-c: #fdff7f;
    --color-d: #bfff7f;
    --color-e: #7fff7f;
}

body {
    background-color: #111;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    user-select: none;
    color: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

header img {
    max-width: 300px;
    height: auto;
}

main {
    display: flex;
    justify-content: center;
    margin-inline: 100px;
    user-select: none;
}

footer {
    margin-inline: 100px;
}

.tier {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid #37363b;
    background-color: #232223;
}

.row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #111;

    &.drag-over {
        background: #555;
        scale: 1.01;
    }
}

.label {
    cursor: pointer;

    background-color: var(--level, #2070f1);
    color: #111;
    font-weight: bold;
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    & span:focus {
        outline: 1px solid #fff;
    }

}

#selector {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & #selector-buttons {
        display: flex;
        flex-direction: row;

        & div {
            cursor: pointer;
            margin-inline: 15px;
            padding: 10px;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #232223;
                scale: 1.1;
            }
        }

        & svg {
            width: 35px;
            height: 35px;
        }

    }


}

#selector-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 60px;
    padding: 30px;
    min-height: 90px;
    width: 50%;
    border: 1px solid #37363b;

    &.drag-files {
        background: #555;
        border-style: dashed;
    }

    &.drag-no-files {
        background: #a43f3f;
        border-style: dashed;
        border-color: #ff7f80;
    }
}

.item-image {
    display: block;
    height: 60px;
    width: 60px;
    cursor: grab;
    object-fit: cover;
    background-color: #fff;

    &.drag-preview {
        opacity: 0.4;
        pointer-events: none;
    }
}